@charset "utf-8";
/* CSS Document */

#index_main_background {
	width: 100%;
}

#index_main {
	width: 1800px;
	margin: auto;
	font-weight: 700;
}

@media (max-width: 1969px) and (min-width: 1000px){
	#index_main {
		width: calc(100% - 140px);
	}
}

@media (max-width: 999px) and (min-width: 905px){
	#index_main {
		width: 825px;
	}
}

@media (max-width: 904px) {
	#index_main {
		width: calc(100% - 40px);
	}
}

.index_main_word_1 {
	font-size: 90px;
}